/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

body {
  font-family: "Montserrat", serif;
  background: url(./images/desk-600482_1920.jpg) no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 3rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
  position: relative;
}

h1 {
  font-size: 3.5rem;
}

.modal-btn {
  padding: 0.25rem 1rem;
  border: 2px solid aqua;
  color: aqua;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  transition: 0.25s;
}

.modal-btn:hover {
  background-color: aqua;
  color: #fff;
}

.modal-content {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 1rem;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  color: red;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.25s;
}

.close:hover {
  font-size: 1.75rem;
}

.hidden {
  display: none;
}

.modal-active-bg {
  background: linear-gradient(
      0deg,
      rgba(173, 216, 230, 0.5),
      rgba(173, 216, 230, 0.5)
    ),
    url(./images/desk-600482_1920.jpg) no-repeat center center / cover;
}
